.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FF775E;
}
#pfooter {
  color: #403330;
}
.flex {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.container .text-muted {
  margin: 20px 0;
}

.my-spacer {
  height: 50px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

/* Carousel base class */
.carousel {
  height: 500px;
  width: 667px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  width: 667px;
  background-color: white;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
}

@media only screen and (max-width: 568px){
  /* Carousel base class */
  .carousel {
    height: 241px;
    width: 320px;
    margin-bottom: 60px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 241px;
    width: 320px;
    background-color: white;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
  }
.carousel-caption  h1 {
    font-size: 20px;
  }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 1;
  }
}
/* Todo media queries */
@media only screen and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2){

    /* Carousel base class */
    .carousel {
      height: 241px;
      width: 320px;
      margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
      height: 241px;
      width: 320px;
      background-color: white;
    }
    .carousel-inner > .item > img {
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
    }
  .carousel-caption  h1 {
      font-size: 20px;
    }
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 11px;
      line-height: 1;
    }
}
