.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FF775E;
}
#pfooter {
  color: #403330;
}
.flex {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.container .text-muted {
  margin: 20px 0;
}

.my-spacer {
  height: 50px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}
